<!DOCTYPE html>
<html>
<head>
	<title>Upload ประกาศ</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<script type="text/javascript" src="{{ url_for('static',filename="bootstrap/js/jquery-3.3.1.min.js")}}"></script>
  	<script type="text/javascript" src="{{ url_for('static',filename="bootstrap/js/bootstrap.min.js")}}"></script>
 	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename="bootstrap/css/bootstrap.css")}}">
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename="bootstrap/css/hover.css")}}">

  	<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  	<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
  	<script type="text/javascript" src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
  	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.7/css/select.bootstrap.min.css">

	<link href="https://fonts.googleapis.com/css?family=Athiti" rel="stylesheet">

	<style type="text/css">
		 body{
	        /*padding-top: 5rem;*/
	        background-color: #DCDCDC;
	        font-family: 'Athiti', sans-serif;
	        font-size: 17px;
	    }

	    .container{
	        background-color: #ffffff;
	        padding: 0; 
	    }

	    .content{
	        padding: 40px;
	    }

	    .footer {
	        /*position: fixed;*/
	       	padding: 30px;
	        left: 0;
	        bottom: 0;
	        width: 100%;
	        background-color: #23A4DB;
	        color: white;
	     }

	     .imgresponsive {
			width: 100%;
			height: auto;
			max-width: 15px;
		}
	</style>
</head>
<body>
	<div class="container">
		 <div class="row">
			<div class="col-md-12">
				<img src="{{ url_for('static',filename="images/header-logo.jpg")}}" style="max-width: 100%; height: auto;">
			</div>	
		</div>
		<div class="content">
			<h3><b>อัพโหลดประกาศ</b></h3>

			<form class="form-horizontal" style="padding-top: 3rem;">
				<div class="form-group">
			    	<label class="control-label col-sm-2" for="txtTopic">หัวข้อประกาศ:</label>
			    	<div class="col-sm-4">
			     		<input class="form-control" type="text" id="txtTopic" placeholder="หัวข้อ" maxlength="50">
			     		<p class="topiclenght"></p>
			    	</div>
			    	<script type="text/javascript">
						 $('#txtTopic').on('keyup',function(){
						    var input = $(this);
						    input.next('.topiclenght').text(input.val().length + "/50 ตัวอักษร");
						});
			    	</script>
			  	</div>
				<div class="form-group">
			    	<label class="control-label col-sm-2" for="newsUpdate">รายละเอียดประกาศ:</label>
			    	<div class="col-sm-4">
			     		<textarea class="form-control" id="newsUpdate" placeholder="รายละเอียด..." maxlength="200"></textarea>
			     		<p class="desciptionlenght"></p>
			    	</div>
			    	<script type="text/javascript">
						 $('#newsUpdate').on('keyup',function(){
						    var input = $(this);
						    input.next('.desciptionlenght').text(input.val().length + "/200 ตัวอักษร");
						});
			    	</script>
			  	</div>
			  	<div class="form-group">
			    	<label class="control-label col-sm-2" for="pubStatus">สถานะประกาศ:</label>
			    	<div class="col-sm-3">
			     		<select class="form-control" id="pubStatus">
			     			<option value="0">ประกาศทั่วไป</option>
			     			<option value="1">ประกาศด่วน</option>
			     		</select>
			    	</div>
			  	</div>



			  	<div class="form-group"> 
			    	<div class="col-sm-offset-2 col-sm-10">
			      		<button type="submit" class="btn btn-primary">อัพโหลด</button>
			    	</div>
			  	</div>
			</form>

			<script type="text/javascript">
				$(document).ready(function() {
			    	$('#example').DataTable({
			    		select: true
			    	});
				});
			</script>

			<table id="example" class="table table-striped table-bordered" style="width:100%">
		        <thead>
		            <tr>
		            	<th>รหัส</th>
		                <th>หัวข้อประกาศ</th>
		                <th>ผู้ประกาศ</th>
		                <th>วันที่ลงประกาศ</th>
		                <th>สถานะประกาศ</th>
		            </tr>
		        </thead>
		        <tbody>
		        	{% for row in rows %}
		            <tr>
		            	<td>{{ row[0] }}</td>
		                <td>
		                	<p>
		                		<a href="#">{{ row[1] }}</a> 
		                		<img id="{{ row[0] }}" src="{{ url_for('static',filename="images/pin-gif.gif")}}" class="imgresponsive" alt="pinpost">
		                	</p>
		                </td>
		                <td>{{ row[2] }}</td>
		                <td>{{ row[3] }}</td>
		                <td class="status">{{ row[5] }}</td>
		            </tr>
		            <script type="text/javascript">
 						$(document).ready(function() {
     						if ({{ row[4] }} != 1) {
     							$('#{{ row[0] }}').hide();
     						}
     						else{
     							$('#{{ row[0] }}').show();
     						}

     						$('.status:contains("ประกาศสำคัญ")').css("color", "red");
     						$('.status:contains("ประกาศทั่วไป")').css("color", "black");
 						});
 					</script>
		            {% endfor %}
		        </tbody>
		    </table>

		    <button type="submit" class="btn btn-danger">ปักหมุดประกาศ</button>

		</div>
		<!-- footer -->
  		<div class="footer">
  			<div class="row">
  				<div class="col-md-6">
  					<h3>About</h3>
  					<p>This is a Web for Faculty of Computer Technology Engineering to included the projects of
  					student in Bachelor's Degree.</p>
  				</div>
  				<div class="col-md-6">
  					<h3>Follow Us:</h3>
  					<a href="https://www.facebook.com/cten.cpc/" target="blank">
  						<img src="{{ url_for('static',filename="images/icons/facebook.png")}}">
  					</a>
  				</div>
  			</div>
  		</div>
  		<div class="footer" style="text-align: center; padding: 15px; background-color: #1587B7;">
  			<div>
  				© 2018 Copyright: S.Thakdanai - Developer
  			</div>
  		</div><!-- footer -->
	</div>
</body>
</html>