<!DOCTYPE html>
<html>
<head>
	<title>Upload โครงงาน</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="{{ url_for('static',filename="bootstrap/js/jquery-3.3.1.min.js")}}"></script>
  	<script type="text/javascript" src="{{ url_for('static',filename="bootstrap/js/bootstrap.min.js")}}"></script>
 	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename="bootstrap/css/bootstrap.css")}}">
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename="bootstrap/css/hover.css")}}">
	<link href="https://fonts.googleapis.com/css?family=Athiti" rel="stylesheet">

	<style type="text/css">
		 body{
	        /*padding-top: 5rem;*/
	        background-color: #DCDCDC;
	        font-family: 'Athiti', sans-serif;
	        font-size: 17px;
	    }

	    .container{
	        background-color: #ffffff;
	        padding: 0; 
	    }

	    .content{
	        padding: 40px;
	    }

	    .footer {
	        /*position: fixed;*/
	       	padding: 30px;
	        left: 0;
	        bottom: 0;
	        width: 100%;
	        background-color: #23A4DB;
	        color: white;
	     }
	</style>
</head>
<body>
	<div class="container">
		 <div class="row">
			<div class="col-md-12">
				<img src="{{ url_for('static',filename="images/header-logo.jpg")}}" style="max-width: 100%; height: auto;">
			</div>	
		</div>
		<div class="content">
			<h3><b>อัพโหลดโครงงาน</b></h3>

			<form class="form-horizontal" method="POST" action="http://127.0.0.1:5000/uploader" enctype="multipart/form-data" style="padding-top: 3rem;">
			  	<div class="form-group">
			    	<label class="control-label col-sm-2" for="pName">ชื่อโครงงาน:</label>
			    	<div class="col-sm-5">
			     		<input type="text" class="form-control" id="pName" placeholder="โครงงาน..." autocomplete="off">
			    	</div>
			  	</div>
			  	<div class="form-group">
			    	<label class="control-label col-sm-2" for="pYear">ปีการศึกษา:</label>
			    	<div class="col-sm-5"> 
			      		<select class="form-control" id="pYear"></select>
			      		<script type="text/javascript">
			      			var getyear = new Date().getFullYear();
			      			var convyear = getyear + 543;
			      			for (i = convyear; i > 2500; i--){
								$('#pYear').append($('<option />').val(i).html(i));
							}
			      		</script>
			    	</div>
			  	</div>

			  	<div class="form-group">
			    	<label class="control-label col-sm-2" for="pType">ประเภทโครงงาน:</label>
			    	<div class="col-sm-5"> 
			      		<select class="form-control" id="pType">
			      			{% for row in rows2 %}
	        					<option value="{{ row[0] }}">{{ row[0] }}</option>
	        				{% endfor %}
			      		</select>
			    	</div>
			  	</div>
			  	<hr>
	  			<div class="form-group">
			    	<label class="control-label col-sm-2" for="sNameF">ชื่อผู้จัดทำคนที่หนึ่ง:</label>
			    	<div class="col-sm-3">
			     		<input type="text" class="form-control" id="sNameF" placeholder="ชื่อ-นามสกุล" autocomplete="off">
			    	</div>
			    	<label class="control-label col-sm-2" for="sIdF">รหัสนักศึกษา:</label>
			    	<div class="col-sm-3">
			     		<input type="text" class="form-control" id="sIdF" placeholder="ตัวอย่าง 0256304910000" autocomplete="off"> 
			    	</div>
			  	</div>
			  	<div class="form-group">
			    	<label class="control-label col-sm-2" for="sNameS">ชื่อผู้จัดทำคนที่สอง:</label>
			    	<div class="col-sm-3">
			     		<input type="text" class="form-control" id="sNameS" placeholder="ชื่อ-นามสกุล" autocomplete="off">
			    	</div>
			    	<label class="control-label col-sm-2" for="sIdS">รหัสนักศึกษา:</label>
			    	<div class="col-sm-3">
			     		<input type="text" class="form-control" id="sIdS" placeholder="ตัวอย่าง 0256304910000" autocomplete="off">
			    	</div>
			  	</div>
			  	<br>
			  	<div class="form-group">
			    	<label class="control-label col-sm-2" for="profPrimary">อาจารย์ที่ปรึกษาหลัก:</label>
			    	<div class="col-sm-3">
			     		<select class="form-control" id="profPrimary">
			     				<option value="0">---อาจารย์ที่ปรึกษาหลัก---</option>
			     			{% for row in rows %}
	        					<option value="{{ row[0] }}">{{ row[1] }}</option>
	        				{% endfor %}
			     		</select>
			    	</div>
			  	</div>
			  	<div class="form-group">
			    	<label class="control-label col-sm-2" for="proSub">อาจารย์ที่ปรึกษารอง:</label>
			    	<div class="col-sm-3">
			     		<select class="form-control" id="profSub">
			     				<option value="0">---อาจารย์ที่ปรึกษารอง---</option>
			     			{% for row in rows %}
	        					<option value="{{ row[0] }}">{{ row[1] }}</option>
	        				{% endfor %}
			     		</select>
			    	</div>
			  	</div>
		  		<hr>
			  	<div class="form-group">
			    	<label class="control-label col-sm-2" for="keyword">Keyword:</label>
			    	<div class="col-sm-3">
			     		<input type="text" class="form-control" id="keyword" placeholder="keyword..." autocomplete="off">
			    	</div>
			  	</div>
			  	
			  	<div class="form-group">
			    	<label class="control-label col-sm-2" for="keyword">บทคัดย่อ:</label>
			    	<div class="col-sm-3">
			     		<input type="file" id="myfile" name="file" accept="application/pdf">
			    	</div>
			    	<div id="error1" style="display: none; color: red;">กรุณาเลือกไฟล์</div>
		            <script type="text/javascript">
		            	$("#myfile").blur(function(){
		            		if (this.value == '') {
		            			$("#error1").fadeIn("show");
		            		}
		            		if (this.value != '') {
		            			$("#error1").fadeOut();
		            		}
		               	})
		            </script>
			  	</div>
			  	
			  	<div class="form-group"> 
			    	<div class="col-sm-offset-2 col-sm-10">
			      		<button type="submit" value="submit" id="btnSave" class="btn btn-primary">อัพโหลด</button>
			    	</div>
			  	</div>
			</form>
		</div>

		<!-- footer -->
  		<div class="footer">
  			<div class="row">
  				<div class="col-md-6">
  					<h3>About</h3>
  					<p>This is a Web for Faculty of Computer Technology Engineering to included the projects of
  					student in Bachelor's Degree.</p>
  				</div>
  				<div class="col-md-6">
  					<h3>Follow Us:</h3>
  					<a href="https://www.facebook.com/cten.cpc/" target="blank">
  						<img src="{{ url_for('static',filename="images/icons/facebook.png")}}">
  					</a>
  				</div>
  			</div>
  		</div>
  		<div class="footer" style="text-align: center; padding: 15px; background-color: #1587B7;">
  			<div>
  				© 2018 Copyright: S.Thakdanai - Developer
  			</div>
  		</div><!-- footer -->
	</div>
	<script type="text/javascript">
		$('#btnSave').click(function(){	
	  		var pName = document.getElementById("pName").value;
			var pYear = document.getElementById("pYear").value;
			var pType = document.getElementById("pType").value;
			var sNameF = document.getElementById("sNameF").value;
			var sIdF = document.getElementById("sIdF").value;
			var sNameS = document.getElementById("sNameS").value;
			var sIdS = document.getElementById("sIdS").value;
			var profPrimary = document.getElementById("profPrimary").value;
			var profSub = document.getElementById("profSub").value;
			var keyword = document.getElementById("keyword").value;

			// var file = document.getElementById("file").value;

			if (pName == "" || sNameF == "" || sIdF == "" || sNameS == "" || sIdS == "" || keyword == "") {
				alert("กรุณากรอกข้อมูลให้ครบถ้วน");
				return false;
			}
			else{
				alert("บันทึกข้อมูลเรียบร้อย");
				$.ajax({
					url: '/addproj',
					data: JSON.stringify({
						"pName" : pName , 
						"pYear" : pYear , 
						"pType" : pType , 
						"sNameF" : sNameF,
						"sIdF" : sIdF,
						"sNameS" : sNameS,
						"sIdS" : sIdS,
						"profPrimary" : profPrimary,
						"profSub" : profSub,
						"keyword" : keyword
					}),
					type: 'POST',
					processData: false,
					contentType: 'application/json; charset=utf-8',
					success: function(response){
						console.log(response);
					},
					error: function(error){
						console.log(error);
					}
				});
				location.reload();
			}				
		});
	</script>

	<script type="text/javascript">
		$('#btnSave').click(function(){
			var file = document.getElementById("file").value;

		});
	</script>
</body>
</html>