{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
	{% block title %}
	<title>รายชื่อโครงงาน</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	{% endblock %}

</head>
<body>

{% block body %}
	
	<script type="text/javascript">
		$(document).ready(function() {
	    	$('#example').DataTable();
		});
	</script>
	<div class="container">
		<div class="content">
			<h3><b>รายชื่อโครงงาน</b></h3><br>
			<table id="example" class="table table-striped table-bordered" style="width:100%">
		        <thead>
		            <tr>
		            	<th>รหัส</th>
		                <th>ชื่อโครงงาน</th>
		                <th>ปีการศึกษา</th>
		                <th>KEYWORD</th>
		            </tr>
		        </thead>
		        <tbody>
		        	{% for row in rows %}
		            <tr>
		            	<td>{{ row[0] }}</td>
		                <td>
		                	<a href="/projcontent/{{ row[0] }}">{{ row[1] }}
		                	</a>
		            	</td>
		                <td>{{ row[2] }}</td>
		                <td>{{ row[3] }}</td>
		            </tr>
		            {% endfor %}
		            
		        </tbody>
		    </table>
    	</div>
    </div>


{% endblock %}
</body>
</html>