{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <meta charset="UTF-8">
    <title>รายงานความคืบหน้า</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

</head>

<body>
{% block body %}
    <div class="container">
        <div class="content">

            <h3><b>รายงานความคืบหน้าโครงงาน</b></h3><br>
            <div style="padding-left: 15px; padding-right: 15px;">
            <form class="form-horizontal" action="/addprojmeetdetail" method="POST">
                 <div class="form-group">
                    <label for="pID">รหัสโครงงาน</label>
                     {% for row in rows2 %}
                        <input type="text" class="form-control" id="pID" name="pID" value="{{row[0]}}" readonly>
                     {% endfor %}
                </div>
                <div class="form-group">
                    <label for="pMeetDetail">รายละเอียดการเข้าพบ</label>
                    <textarea  class="form-control" id="pMeetDetail" name="pMeetDetail" cols="40" wrap="hard" style="width: 100%;" aria-describedby="txtMeetDetailHelp"></textarea>
                    <small id="txtMeetDetailHelp" class="form-text text-muted">ระบุรายละเอียดการเข้าพบอาจารย์ที่ปรึกษา</small>
                </div>
                 <div class="form-group">
                    <label for="pIssue">ปัญหาที่พบ</label>
                    <textarea  class="form-control" id="pIssue" name="pIssue" aria-describedby="txtMeetIssueHelp"></textarea>
                    <small id="txtMeetIssueHelp" class="form-text text-muted">ระบุปัญหาที่พบ</small>
                </div>
                <div class="form-group">
                    <label>การเข้าพบครั้งถัดไป</label>
                    <input class="form-control today" id="pNextMeet" name="pNextMeet">
                </div>
                <input type="submit" class="btn btn-primary" id="btnSave" value="submit">
            </form>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
            <thead>
                <th>ปีการศึกษา</th>
                <th>ชื่อโปรเจคภาษาไทย</th>
                <th>ชื่อโปรเจคภาษาอังกฤษ</th>
                <th>ชื่อนักศึกษาคนที่1</th>
                <th>รหัสนักศึกษาคนที่1</th>
                <th>ชื่อนักศึกษาคนที่2</th>
                <th>รหัสนักศึกษาคนที่2</th>
                <th>ชื่ออาจารย์</th>
                <th>ครั้งที่เข้ารายงาน</th>
                <th>วันที่เข้ารายงาน</th>
                <th>รายละเอียด</th>
                <th>ปัญหาที่พบ</th>
                <th>วันที่จะเข้าพบครั้งถัดไป</th>
            </thead>
            {% for row in rows1 %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
                <td>{{row[6]}}</td>
                <td>{{row[7]}}</td>
                <td>{{row[8]}}</td>
                <td>{{row[9]}}</td>
                <td>{{row[10]}}</td>
                <td>{{row[11]}}</td>
                <td>{{row[12]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
</body>
</html>